.header {
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding-top: 70px;
}

.header__btns {
  margin: 0 20px;
 
}

.header__logo {
  font-size: 36px;
  font-weight: 400;
  font-family: "Open Sans - Extrabold";
  
}