.hero__bottom-btn {
  position:absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
  display: flex;

  @include tablets {
  display: none;
  }
}

.hero__bottom-icon {
	width: 25px;
  height: 29px;
}



.hero {
  height:100vh;
  position:relative;
  min-height:650px;
}

.hero__content {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.welcome-section {
  position: relative;
}

