.socials {
  display: flex;
  align-items: center;

  @include phones {
    display: none;
  }
}

.socials__item {
  margin-right: 40px;

  &:last-child {
    margin-right: 0;
  }
}

.socials__link {
  width: 31px;
  height: 25px;
  display: block;
}

.socials__icon {
  width:100%;
  height:100%;
  fill: #464d62;

  &:hover {
  fill:#5500f2;
}
}

.socials--footer {
  @include phones {
    display: flex;
   
  }
}