.triangles {
  display: flex;
  color: #ffff;
}

.triangles__item {
  width: 50%;
  height: 125px;
}


.values-section__triangles {
  position: relative;
  bottom: 100%;
  left: 0;
  right: 0;
}

.triangle {
  fill:currentColor;

}