section.values-section
  .values-section__title 
    .values-section__title-content
      .longtitle
        h2.longtitle__text Чем я могу быть вам полезна
      .longtitle__desc
        p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
  .container.values-section__container
    .values-section__desk    
      +image("content/bag.png", "values-section__image-img")  
    .values-section__content
      #skills-component
script(type="text/x-template")#skills-list
      .skills__values-container
        //-pre {{skills}}
        ul.skills__list
          li.skills__item(
            v-for="category in skills"
            :key="category.title")
            skills-row(
              :category="category"
            )
        
script(type="text/x-template")#skills-row
      .skills-row
        h3.skills-row__title {{category.category}} 
        //-category.title
        ul.skills-row__list
          li.skills-row__item(
            v-for="skill in category.skills"
            :key="skill.id")
            skill(
              :skill="skill"
            )
script(type="text/x-template")#skill
      .skill
      
        svg.skill__circle.circle(width="160px" height="160px" xmlns="http://www.w3.org/2000/svg")
          circle(cx="50%" cy="50%" r="66").circle__icon.circle__icon--under
          circle(cx="50%" cy="50%" r="66" ref="circle" stroke="url(#gradient)").circle__icon.circle__icon--above
        svg(width="0" height="0")
          linearGradient(id="gradient" x1="0%" y1="100%" x2="100%" y2="0")
            stop(offset="0%" stop-color="#5500f2")
            stop(offset="100%" stop-color="#8f00ef")
        h4.skill__title {{skill.title}}
        
      
    
    
         






          