section.footer-section
          .container
            footer.footer
              .footer-left-col
                p.footer__date © 2020
                h2.footer__user-name Анна Венедиктова
                p.footer__user-desc Личный сайт веб разработчика
              .footer-right-col
                .footer__btns
                  nav.menu
                    - var items=["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться",]
                      ul.menu__list.menu__list--footer
                        each item in items
                          li.menu__item
                            a.menu__link.menu__link--footer #{item}
                .footer__desc
                  .footer__desc-left
                    p.footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool
                    .footer__socials
                      - var icons=["vk", "insta", "github",]
                        ul.socials.socials--footer
                          each value, key in {vk:"https://vk.com/venediktova_am", github:"https://github.com/Anna185/", insta:"https://www.instagram.com/anna.ven/"}
                            li.socials__item.socials__item--circle
                              a(class="social__link-icon--small" href=`${value}`)
                                +icon(`${key}`, "socials__icon--footer")
                  .footer__desc-right
                    blockquote.footer__qoute Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
                    cite.footer__qoute-name Martin Golding