.desc-section
  section.reviews-section
    .container.reviews__container
      #rew-block
      include ./feedback

script(type="text/x-template")#rew-main
  .reviews-block
    .reviews-header
      .reviews__title.section-title
        h2 Что обо мне говорят
      btnsComp(@slide="checkBtn")

    .reviews-slider(ref="sliderBlock")
      rewSlider(:slidesInfo="slidesInfo" @slide="checkBtn")
        
script(type="text/x-template")#rew-btns
  .reviews-arrows
    button.reviews-arrows__btn.reviews-arrows__btn--prew(type="button" v-on:click.prevent="$emit('slide', 'prev')") &lt;
    button.reviews-arrows__btn.reviews-arrows__btn--next(type="button" v-on:click.prevent="$emit('slide', 'next')") &gt; 

script(type="text/x-template")#rew-slider
  ul.reviews-slider__list(ref="moveSlider")
    li.reviews-slider__item(v-for="slide in slidesInfo" ref="isslide")
      rewSlide(:slideInfo="slide")

script(type="text/x-template")#rew-slide
  .reviews-slider__content.reviews
    .reviews__text {{slideInfo.text}}
    .reviews__desc
      .reviews-avatar
        .reviews-avatar-wrap
          img( :src="dataUrl+slideInfo.img" alt="").reviews__avatar-icon
        .reviews-info
          h3.reviews__avatar-name  {{slideInfo.name}}
          h4.reviews__avatar-position {{slideInfo.position}}

  //-var " "Владимир Сабанцев",position: "Преподаватель",text: "Этот код выдержит любые испытания.Только,пожалуйста, не загружайте сайт на слишком старых браузерах",avatar: "content/sabantcew.png"},{name: "Владимир Сабанцев",position: "Преподаватель",text: "Этот код выдержит любые испытания.Только,пожалуйста, не загружайте сайт на слишком старых браузерах",avatar: "content/sabantcew.png"},{name: "Владимир Сабанцев",position: "Преподаватель",text: "Этот код выдержит любые испытания.Только,пожалуйста, не загружайте сайт на слишком старых браузерах",avatar: "content/sabantcew.png"}];


  
    
              
            

    

                  





              
        
          
                
    
            
