section.works
  .container.container--works
    .works__title.section-title
      h2  Мои работы
      #works-block

script(type="text-/x-template")#works-content
  .works__content
    display(
      :currentProject="currentProject"
      :projects="projects"
      :currentIndex="currentIndex"
      @slide="handleSlide"
      )    
    info(
      :currentProject="currentProject"
    )

  
script(type="text-/x-template")#slider-display 
  .works__col-left(:data-slide="currentIndex + 1")
    .works__slider
      img(:src="currentProject.photo").slider__img
    thumbs(
      :projects="reversedProjects" 
      :currentProject="currentProject"
    )
    btns(
      @slide="$emit('slide', $event)"
      :projects="reversedProjects" 
      :currentProject="currentProject"
    )

script(type="text-/x-template")#slider-thumbs

  .works__control
    ul.works__pagination
      li.works__pagination-items(
        v-for="project in projects" 
        :key="project.id"
        :class="{pointsActive: currentProject.id === project.id}"
        )
        
          img(:src="project.photo").slider__img

script(type="text-/x-template")#slider-btns
  .works__arrows
    ul.works__arrows-list
      li.works__arrows-item
        button(type="button" @click.prevent="$emit('slide','next')" :class="currentProject.id<projects.length? 'arrowActive': 'arrowPassive'").works__arrows.works__arrows--up
          +icon('arrow-down', 'works__arrows-icon')
      li.works__arrows-item
        button(type="button" @click.prevent="$emit('slide','prev')" :class="currentProject.id>1? 'arrowActive' : 'arrowPassive'").works__arrows.works__arrows--down
          +icon('arrow-down', 'works__arrows-icon')  
            
script(type="text-/x-template")#slider-info 
.works__content         
  .works__col-right
    tags(
    :tags="tagsArray"
  )
  .works__right-content
    h3 {{currentProject.title}}
    p {{currentProject.desc}}
    a.works__right-link(:href="currentInfo.link") Посмотреть сайт 


script(type="text-/x-template")#slider-tags
  .works__right-row
    ul.works__tags-list
      li.works__tags-item(v-for="tag in tags" :key="tag")
        .tag {{tag}}
       




      



.reviews__triangles.triangles
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-reviews.triangle
    polygon(points="0,0 0,100 1000,100")
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-reviews.triangle
    polygon(points="1000,0 1000,100 0,100")

                
               
             
          
           
                        
                
          
            
        

        
             
               
              
   
                  
            

            
            
             
                   
                         
              
         
              
            
                  
                  

                



            

                
            

              
              


              
  
  


