section.works(id="works")
  .container.container--works
    .works__title.section-title
      h2  Мои работы
    #works-block

script(type="text/x-template")#works__content 
  .works__content
    side-left(
		  :dataWorks="dataWorks"
			:currentImg="currentslide.photo"
			:currentslide="currentslide"
			@slide="btnSlide"
		)
    side-right(
			:currentInfo="currentslide"
		)

script(type="text/x-template")#works__left
  .works__col-left
    .works__slider
      big-img(
			  :currentImg="currentImg"
      )
      .works__control
        pagination(
				  :dataPags="dataWorks"
					:currentslide="currentslide"
	      )
      arrows( 
				  @slide="direction => $emit('slide', direction)"
				  :dataPags="dataWorks"
				  :currentslide="currentslide"
				)

script(type="text/x-template")#works__right
  .works__col-right
    .works__right-number {{currentInfo.id}}
    .works__right-row
      tags(
			  :tags="tagsArray"
			)
      .works__right-content
        h3 {{currentInfo.title}}
        p {{currentInfo.desc}}
        a.works__right-link(:href="currentInfo.link") Посмотреть сайт

script(type="text/x-template")#works__image
  img(:src="dataUrl+currentImg").slider__img

script(type="text/x-template")#works__pagination
  ul.works__pagination(ref="pagItem")
    li.works__pagination-items(
      v-for="dataPag in dataPags" 
			:class="{active: dataPag.id  === currentslide.id}"
			
		)
      img(:src="dataUrl+dataPag.photo").works__pagination-img 

script(type="text/x-template")#works__arrows
  .works__arrows
    ul.works__arrows-list
      li.works__arrows-item
        button(type='button' v-on:click.prevent="$emit('slide', 'next')" :class="{active:  currentslide.id < dataPags.length}").works__arrows.works__arrows--up &gt;
      li.works__arrows-item
        button(type='button' v-on:click.prevent="$emit('slide', 'prev')" :class="{active:  currentslide.id > 1}").works__arrows.works__arrows--down &lt;

script(type="text/x-template")#works__tags 
  ul.works__tags-list
    li.works__tags-item(v-for="tag in tags") {{tag}}  







.reviews__triangles.triangles
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-reviews.triangle
    polygon(points="0,0 0,100 1000,100")
  svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangles__item-reviews.triangle
    polygon(points="1000,0 1000,100 0,100")
          

  

  


     





                
               
             
          
           
                        
                
          
            
        

        
             
               
              
   
                  
            

            
            
             
                   
                         
              
         
              
            
                  
                  

                



            

                
            

              
              


              
  
  


